.questions {
  height: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
  background-color: rgb(128, 155, 155);
  color: rgb(150, 234, 234);
}
.menu-heading {
  font-weight: 500;

  font-style: oblique;
}
.question-items {
  height: 100%;
  padding: 10px;
  overflow-y: scroll;
  background-color: aliceblue;
  color: rgb(32, 26, 26);
}
.question-items::-webkit-scrollbar {
  display: none;
}
.question-item {
  padding: 5px;
  margin: 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
  min-height: 3rem;
}
.question-item:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}
.topic-item {
  cursor: pointer;

  margin: 3px 0 2px 5px;
  padding: 2px;
  border-left: 2px solid dodgerblue;
}
.topic-item:hover {
  background-color: black;
  color: white;
}
.selected-topic {
  background-color: white;
  color: black;
}
.playerOff {
  background-color: black;
  color: white;
}
.playerOn {
  background-color: white;
  color: black;
  box-shadow: 0 0 2px 2px rgb(237, 234, 234);
  border: 1px solid white;
}
/* styles for slideview */
.slideview {
  height: 100%;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 30% 70%;
}
.info {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-item {
  background-color: white;
  border: 1px solid grey;
  height: 90%;
  flex: 1 0 15%;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 5px;
}
.slideview-qn {
  background-color: rgb(239, 239, 244);
  display: grid;
  grid-template-columns: 10% 80% 10%;
}
.control {
  background-color: rgb(223, 216, 207);
  display: flex;
  justify-content: center;
  align-items: center;
}
.actual-qn {
  background-color: white;
  border: 10px solid rgb(236, 233, 218);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: black;
  font-size: 1.5rem;
  word-spacing: -3px;
}
.text {
  margin: 0 2px;
}
.control-btn {
  background-color: white;
  color: black;
  min-width: 5vw;
  min-height: 1.5rem;
  border: 1px;
  border-radius: 5px;
}
.control-btn:hover {
  background-color: black;
  color: white;
}
/* end of style for slideview */
