.entry {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: rgb(177, 121, 228);
  padding: 100px;
  color: white;
}
.c {
  padding: 2px;
}
.mission {
  line-height: 200%;
}
.mission,
.vision {
  line-height: 120%;
}
.mission {
  font-size: 4rem;
  line-height: 80%;
}
.vision {
  color: rgb(239, 229, 229);
  font-size: 2.5rem;
}
.minor-call,
.formgroup-item {
  font-size: 1.5rem;
}

.cta-link {
  width: 50%;
}
.formgroup-item {
  border-radius: 5px;
  border: 0;
}
