.cont {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 10% 80% 10%;
}
.avatar-c {
  height: 100%;
}
.logout-c {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout {
  flex: 0 0 40%;
  height: 70%;
  border-radius: 2px;
}

/* .titles {
  height: 100%;
} */
.main-title {
  height: 60%;
  text-align: center;
}
.subtitle {
  height: 40%;
  text-align: center;
  font-weight: 400;
}
