<li class="question-item">
  <p class="author">
    date: <span class="author-name">{{ item.date }}</span>
  </p>
  <p class="quote">
    diary entries :
    <span style="font-weight: 600">{{ item.entries.length }}</span>
    <button
      style="margin-right: 0; text-transform: uppercase; margin-left: 10px"
      (click)="toggleView()"
    >
      {{ expanded ? "close" : "expand" }}
    </button>
  </p>
  <ul *ngIf="expanded" style="list-style: none; padding: 5px">
    <li *ngFor="let entry of item.entries">
      {{ entry.content }}
    </li>
  </ul>
</li>
