<ul class="main-navigation">
  <!-- <li class="navigation-item">
    <button class="logout-link" (click)="logout()">logout</button>
  </li> -->
  <li class="navigation-item">
    <a class="link" routerLink="/home"><fa-icon [icon]="homeIcon"></fa-icon></a>
  </li>
  <li class="navigation-item">
    <a class="link" routerLink="/app/questions">questions</a>
  </li>
  <li class="navigation-item">
    <a class="link" routerLink="/app/diary">diary</a>
  </li>
  <li class="navigation-item">
    <a class="link" routerLink="/app/plans">plans</a>
  </li>
  <li class="navigation-item">
    <a class="link" routerLink="/app/todos">todos</a>
  </li>
  <li class="navigation-item">
    <a class="link" routerLink="/app/review">reviews</a>
  </li>
  <li class="navigation-item">
    <a class="link" routerLink="/app/thoughts">thoughts</a>
  </li>
  <li class="navigation-item">
    <a class="link" routerLink="/app/quotes">quotes</a>
  </li>
  <li class="navigation-item">
    <a class="link" routerLink="/app/admin/create-question">admin</a>
  </li>
</ul>
