.main-navigation {
  display: flex;
  width: 100%;
  overflow: scroll;
}
.main-navigation::-webkit-scrollbar {
  display: none;
}
.navigation-item {
  flex: 0 0 20%;

  margin: 0 5px;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: rgb(194, 230, 237);
}
.navigation-item:hover {
  background-color: rgb(191, 183, 183);
  color: rgb(248, 241, 241);
}
.logout-link {
  height: 100%;
  width: 100%;
}
